.cover__link {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 740px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 62.5vw;
  }
}

.cover__link:hover .cover__background {
  opacity: .2;
}