.cover__title {
  color: #fff;
  margin: 0 auto 32px;
  text-align: center;
  max-width: min-content;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 600px) {
  .cover__title {
    margin-bottom: 5%;
    font-size: 32px;
    line-height: 109%;
  }
}