.place {
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  gap: 3.75vw 3.125vw;
  margin-bottom: 6.25vw;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 42.96vw 44.53vw;
    gap: 4.68vw 3.125vw;
    margin-bottom: 7.81vw;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 44.27vw 45.83vw;
    gap: 6.25vw 3.64vw;
    margin-bottom: 9.5vw;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    margin-bottom: 50px;
  }
}

.place:last-child {
  margin-bottom: 0;
}