.place__url-heading {
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 0 12px 0;
  line-height: 100%;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .place__url-heading {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}