.header__lang-links {
  margin: 46px 46px auto auto;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header__lang-links {
    margin: 30px 5% auto auto;
  }
}