.intro__title {
  color: #fff;
  margin: 0 auto 40px 148px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1280px) {
  .intro__title {
    margin: 0 auto 40px 11.56%;
  }
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin: 0 auto 40px 4.68%;
  }  
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: calc(100% - 6.25%);
    margin: 0 auto 40px;
  }  
}

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: calc(100% - 35%);
    margin: 0 15% 40px 3.76%;
    font-size: 32px;
    line-height: 35px;
  }  
}

@media screen and (max-width: 375px) {
  .intro__title {
    max-width: calc(100% - 25%);
    margin: 0 15% 40px 5%;
  }  
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 90%;
  }
}